<h1>Patients List</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.id %></td>
        <td><%= patient.name %></td>
        <td><%= patient.date_of_birth.strftime("%B %d, %Y") if patient.date_of_birth %></td>
        <td>
          <%= link_to 'Show', patient_path(patient) %>
          <%= link_to 'Edit', edit_patient_path(patient) %>
          <%= link_to 'Destroy', patient_path(patient), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Patient', new_patient_path %>